/* Main styling */
/* Print Club 30.co.uk */

/* Fonts */
@font-face {
  font-family: 'Maison Neue';
  src: url('fonts/MaisonNeueBold.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('fonts/MaisonNeueBoldItalic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('fonts/MaisonNeueBook.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('fonts/MaisonNeueBookItalic.otf');
  font-weight: 300;
  font-style: italic;
}


/* Global */
h1, h2, h3, h4, h5, h6, p, a, span { margin: 0; } /* Fix Normalize.css text */

html, body {
	font-family: 'Maison Neue', sans-serif;
	margin: 0; /* Fix normalize.css */
}

.container {
	width: 924px;
	margin: 0 auto;
}


/* Header */
header {
	width: 100%;
	height: 95px;
	box-sizing: border-box;
	padding-top: 30px;

}


/* Buttons */
.button {
	font-size: 23px;
	font-weight: 300;
	padding: 10px 20px 7px;
	border-radius: 2px;
	display: inline-block;
	color: rgb(255,255,255);
	background: #2986EC;
}

.button:focus, .button:active {
	background: rgb(0,0,0) !important;
	margin-top: 2px;
}


/* Footer */

footer {
	background: rgb(250,250,250);
	margin-top: 140px;
	width: 100%;
	height: 160px;
}

footer aside.copyright h1{
	font-size: 16px;
	font-weight: 300;
	color: rgb(161,161,161);
	padding-top: 35px;
	padding-bottom: 40px;
}





